@{
    ViewData["Title"] = "Examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="examples">
    <h2>Code Examples 💻</h2>
    <pre><code>
// Example: HomeController.cs
public class HomeController : Controller
{
    public ActionResult Index()
    {
        return View();
    }
}
    </code></pre>
</section>
